body {
	background: rgb(237, 131, 131);
	background: linear-gradient(90deg, rgba(237, 131, 131, 1) 0%,
		rgba(178, 199, 255, 1) 95%);
}

.card:hover {
	box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.fa-social {
	font-size: 150%;
}

.fa-social:hover {
	color: mediumslateblue;
}
