body {
	background: rgb(237, 131, 131);
	background: linear-gradient(90deg, rgba(237, 131, 131, 1) 0%,
		rgba(178, 199, 255, 1) 95%);
}

.signup-left input {
	border: none;
	border-radius: 1.5rem;
	padding: 2%;
	width: 60%;
	margin-bottom: 3%;
	cursor: pointer;
}

.signup-right input {
	border-radius: 1rem;
	background: #f8f9fa;
	font-weight: bold;
	color: #383d41;
	cursor: pointer;
}
.form-row textarea {
	border-radius: 1rem;
	background: #f8f9fa;
	font-weight: bold;
	color: #383d41;
	cursor: pointer;
}
.signup-left {
	text-align: center;
	color: #fff;
	margin-top: 8%;
}

.signup-right {
	margin-top: 5%;
}

.signup-left img {
	margin-top: 15%;
	margin-bottom: 5%;
	width: 100%;
}

.signup-form .btn-primary {
	color: #fffafa;
	background-color: #0a0a0a;
	border-radius: 1.5rem;
	width: 20%;
	overflow-x: hidden; font-size : 100%;
	border: unset;
	font-size: 100%;
}

.signup-form .btn-primary:hover {
	opacity: 10;
	background: linear-gradient(90deg, rgba(237, 131, 131, 1) 0%,
		rgba(178, 199, 255, 1) 95%);
	color: black;
}

.signup-left p {
	font-weight: lighter;
	padding: 12%;
	margin-top: -9%;
}

.signup .signup-form {
	padding: 10%;
	margin-top: 10%;
}

.signup-heading-three {
	text-align: center;
	margin-top: 8%;
	margin-bottom: -15%;
	color: #ebf0f7;
}

.col-form-label {
	font-size: small;
	font-style: italic;
}